<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Gallery</h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <p-table #dt [value]="images" [(selection)]="selectedImages" [scrollable]="true"
                            scrollHeight="500px" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
                            [globalFilterFields]="['collection']">
                            <ng-template pTemplate="caption">
                                <div class="table-header d-flex justify-content-between">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Global Search" />
                                    </span>

                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-original-title="test" data-target="#exampleModal"
                                        (click)="open(content, 0)">Add image</button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 4rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>Image</th>
                                    <th>URL</th>
                                    <th>Collection</th>
                                    <th>Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-image>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="image"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        <div class="frame">
                                            <img [src]="image.img_url" class="imgTable" style="width: 100%"
                                                onerror="this.onerror=null; this.src='../assets/images/dashboard/product/1.jpg';">
                                        </div>
                                    </td>
                                    <td>{{image.img_url}}</td>
                                    <td>{{image.collection}}</td>
                                    <td>
                                        <a href="javascript:void(0)" class="action-button"><i class='fa fa-eye f-12'
                                                (click)="openDetails(details, image)"></i></a>&nbsp;
                                        <a href="javascript:void(0)" class="action-button"><i class="fa fa-trash-o"
                                                (click)="showConfirm(image.id)"></i></a>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel">{{modelTitle}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation">
                <div class="form">
                    <div class="form-group">
                        <label for="validationCustom01" class="mb-1">Image URL:</label>
                        <input class="form-control" id="validationCustom01" type="text"
                            [(ngModel)]="imageData.img_url" [ngModelOptions]="{standalone: true}" (blur)="updateImageText()">
                    </div>
                    <div class="form-group">
                        <p-dropdown [options]="products" [(ngModel)]="selectedProduct" [ngModelOptions]="{standalone: true}" optionLabel="title" [filter]="true" filterBy="title" [showClear]="true" placeholder="Select a product">
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="selectedProduct">
                                    <img [src]="selectedProduct.imagesUrl[0]" style="width: 40px"/>
                                    <img [src]="selectedProduct.imagesUrl[1]" style="width: 40px"/>
                                    <div>{{ selectedProduct.title }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-product pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <img [src]="product.imagesUrl[0]" style="width: 30px"/>
                                    <img [src]="product.imagesUrl[1]" style="width: 30px"/>
                                    <div>{{ product.title }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="row">
                        <span class="col-6 mb-1">Collection: <strong>{{selectedProduct?.collection}}</strong></span>
                        <span class="col-6 mb-1">Product ID: <strong>{{selectedProduct?.productId}}</strong></span>
                    </div> 
                </div>
            </form>
            <div class="imagesProducts p-3 d-flex justify-content-between align-items-center">
                <img class="thumblainImage" [src]="imageData.img_url || 'assets/images/12.jpg'"  alt="">
                <img class="" style="width: 50px;" src='assets/images/plus.png'  alt="">
                <div>
                    <ng-container *ngIf="selectedProduct?.imagesUrl?.length > 0; else noImages">
                        <img class="thumblainImage" *ngFor="let img of selectedProduct?.imagesUrl" [src]="img || 'assets/images/12.jpg'" alt="">
                    </ng-container>
                    <ng-template #noImages>
                        <img class="thumblainImage" [src]="'assets/images/12.jpg'" alt="">
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addImage()">Add & Link</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </ng-template>
    <ng-template #details let-modal>
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel">Details</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body details">
            <div class="imagesProducts overflow-x-auto p-3 d-flex justify-content-between align-items-center">
                <img class="thumblainImage" [src]="selectedImageDetail.img_url || 'assets/images/12.jpg'"  alt="">
                <img class="" style="width: 50px;" src='assets/images/plus.png'  alt="">
                <div class="d-flex gap-2">
                    <img class="thumblainImage" *ngFor="let img of selectedImageDetail?.prodImages" [src]="img || 'assets/images/12.jpg'" alt="">
                </div>
            </div>
        </div>
        <div class="modal-foot d-flex">
            <div class="flex-fill">
                <div class="d-flex flex-column gap-2">
                    <span>Image ID: <strong>{{selectedImageDetail.id}}</strong></span>
                    <span>Image collection: <strong>{{selectedImageDetail.collection}}</strong></span>
                </div>
            </div>
            <div class="flex-fill">
                <div class="d-flex flex-column gap-2">
                    <span>Product ID: <strong>{{selectedImageDetail.products_id}}</strong></span>
                    <span>Product title: <strong>{{selectedImageDetail.prodTitle}}</strong></span>
                    <span>Product collection: <strong>{{selectedImageDetail.collection}}</strong></span>
                </div>
            </div>
        </div>
    </ng-template>
    <p-toast position="bottom-right"></p-toast>
    <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4 class="text-dark-emphasis">{{message.summary}}</h4>
                    <p class="text-light-emphasis">{{message.detail}}</p>
                </div>
                <div class="p-fluid d-flex gap-3">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirm()" label="Yes"
                            class="p-button-success rounded"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="No"
                            class="p-button-secondary rounded"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
</div>
<!-- Container-fluid Ends-->