.bg-sales{
    background-color: #0c3dba !important;
}
.bg-orders{
    background-color: #13c9ca !important;
}
.bg-products{
    background-color: #ffbc58 !important;
}
.bg-cancellations{
    background-color: #b9bcbe !important;
}