<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <!-- -------------------------------------  Start Cards Section  ----------------------------------------------- -->
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header bg-sales">
                    <h6 class="text-light">Total Sales</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-1" height="600" width="400"
                                    [datasets]="smallLineChartData" [labels]="smallLineChartLabels"
                                    [options]="smallLineChartOptions" [legend]="smallLineChartLegend"
                                    [type]="smallLineChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <span class="d-flex gap-2 align-items-center"
                                    [ngClass]="{'text-success': differences.salesDiff > 0, 'text-danger': differences.salesDiff < 0}">
                                    <h3 class="text-light">$ {{differences.salesDiff}}</h3>
                                    <span><i class="pi"
                                            [ngClass]="{'pi-angle-up': differences.salesDiff > 0, 'pi-angle-down': differences.salesDiff < 0}"
                                            style=" font-size: 1.5rem"></i></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="media-body">
                            <span>Sales This Month</span>
                            <h2 class="mb-0">$ {{ totalSales }}</h2>
                            <!-- <p>0.25% <span><i class="fa fa-angle-up"></i></span></p> -->
                        </div>
                        <div class="bg-primary b-r-8">
                            <div class="small-box">
                                <!-- <i data-feather="credit-card"></i> -->
                                <i class="pi pi-credit-card" style="font-size: 1.5rem"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header bg-orders">
                    <h6>Total Orders</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">

                                <canvas baseChart id="small-graph-2" height="60vw" width="140vw"
                                    [datasets]="smallLine2ChartData" [labels]="smallLine2ChartLabels"
                                    [options]="smallLine2ChartOptions" [legend]="smallLine2ChartLegend"
                                    [type]="smallLine2ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <span class="d-flex gap-2 align-items-center"
                                    [ngClass]="{'text-success': differences.ordersDiff > 0, 'text-danger': differences.ordersDiff < 0}">
                                    <h3 >{{differences.ordersDiff}}u.</h3>
                                    <span><i class="pi"
                                            [ngClass]="{'pi-angle-up': differences.ordersDiff > 0, 'pi-angle-down': differences.ordersDiff < 0}"
                                            style=" font-size: 1.5rem"></i></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="media-body">
                            <span>Orders This Month</span>
                            <h2 class="mb-0">{{ totalOrders }}</h2>
                            <!-- <p>0.13% <span><i class="fa fa-angle-up"></i></span></p> -->
                        </div>
                        <div class="bg-secondary b-r-8">
                            <div class="small-box">
                                <!-- <i data-feather="shopping-cart"></i> -->
                                <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header bg-products">
                    <h6 class="">Sold Products</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-3" height="60vw" width="140vw"
                                    [datasets]="smallLine3ChartData" [labels]="smallLine3ChartLabels"
                                    [options]="smallLine3ChartOptions" [legend]="smallLine3ChartLegend"
                                    [type]="smallLine3ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <span class="d-flex gap-2 align-items-center"
                                    [ngClass]="{'text-success': differences.productsDiff > 0, 'text-danger': differences.productsDiff < 0}">
                                    <h3>{{differences.productsDiff}}u.</h3>
                                    <span><i class="pi"
                                            [ngClass]="{'pi-angle-up': differences.productsDiff > 0, 'pi-angle-down': differences.productsDiff < 0}"
                                            style=" font-size: 1.5rem"></i></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="media-body">
                            <span>Products This Months</span>
                            <h2 class="mb-0">{{ soldProducts }}</h2>
                            <!-- <p>0.8% <span><i class="fa fa-angle-up"></i></span></p> -->
                        </div>
                        <div class="bg-warning b-r-8">
                            <div class="small-box">
                                <!-- <i data-feather="box"></i> -->
                                <i class="pi pi-box" style="font-size: 1.5rem"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header bg-cancellations">
                    <h6>Cancellations</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-4" height="60vw" width="140vw"
                                    [datasets]="smallLine4ChartData" [labels]="smallLine4ChartLabels"
                                    [options]="smallLine4ChartOptions" [legend]="smallLine4ChartLegend"
                                    [type]="smallLine4ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <span class="d-flex gap-2 align-items-center"
                                    [ngClass]="{'text-success': differences.cancellationsDiff <= 0, 'text-danger': differences.cancellationsDiff > 0}">
                                    <h3>{{differences.cancellationsDiff}}u.</h3>
                                    <span><i class="pi"
                                            [ngClass]="{'pi-angle-up': differences.cancellationsDiff >= 0, 'pi-angle-down': differences.cancellationsDiff < 0}"
                                            style=" font-size: 1.5rem"></i></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="media-body">
                            <span>Cancelled This Month</span>
                            <h2 class="mb-0">{{ cancellations }}</h2>
                            <!-- <p>0.25% <span><i class="fa fa-angle-up"></i></span></p> -->
                        </div>
                        <div class="bg-danger b-r-8">
                            <div class="small-box">
                                <!-- <i data-feather="rotate-ccw"></i> -->
                                <i class="pi pi-sync" style="font-size: 1.5rem"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------  End Cards Section  ----------------------------------------------- -->
        <!-- -------------------------------------  Start Graph Section  ----------------------------------------------- -->
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Month Sales</h5>
                </div>
                <div class="card-body">
                    <div class="market-chart">
                        <div class="ct-4 flot-chart-container">
                            <x-chartist [configuration]="chart5">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Latest Orders</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive latest-order-table" style="height: 100%;">
                        <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                            <div *ngIf="ordersTable.length > 0">
                                <table class="table table-bordernone">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Order Total</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of ordersTable; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{ order.site_order_id }}</td>
                                            <td class="">${{order.order_total}}</td>
                                            <td class="">{{order.payment_type}}</td>
                                            <td
                                                [ngClass]="{'text-danger': order.shipping_status.toLowerCase() == 'cancelled', 'text-success': order.shipping_status.toLowerCase() == 'delivered', 'text-warning': order.shipping_status.toLowerCase() == 'in process', 'text-primary': order.shipping_status.toLowerCase() == 'awaiting shipment'}">
                                                {{order.shipping_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="ordersTable.length == 0">
                                <div class="mt-5 d-flex flex-column gap-2 align-items-center justify-content-center">
                                    <img src="assets/images/empty.png" width="50px" alt="">
                                    <span class="text-muted">Empty data</span>
                                    <p class="text-muted text-center">No data available for plotting on current
                                        orders</p>
                                </div>
                            </div>
                            <div>
                                <button routerLink="javascript:void(0)" [routerLink]="['/sales/orders']"
                                    class="btn btn-primary d-inline">View All Orders</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------  End Graph Section  ----------------------------------------------- -->
        <!-- -------------------------------------  Start Location Section  ----------------------------------------------- -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sales Status</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 xl-50">
                            <div class="order-graph overflow-hidden" style="height: 100%;">
                                <h6>Orders By Location</h6>
                                <div class="d-flex flex-column" [ngClass]="{'justify-content-center':isZerosList(doughnutData), 'justify-content-start': !isZerosList(doughnutData)}" style="height: 100%;">
                                    <div *ngIf="!isZerosList(doughnutData)">
                                        <div class="chart-block chart-vertical-center">
                                            <ngx-charts-pie-chart class="pie-colours-1" [view]="view"
                                                [scheme]="doughnutChartColorScheme" [results]="doughnutData"
                                                [explodeSlices]="false" [labels]="doughnutChartShowLabels"
                                                [arcWidth]=0.50 [doughnut]="true" [legend]="doughnutChartShowLegend"
                                                [legendPosition]="doughnutChartLegendPosition" [animations]="false"
                                                [tooltipDisabled]="doughnutChartTooltip"
                                                [gradient]="doughnutChartGradient">
                                            </ngx-charts-pie-chart>
                                        </div>
                                        <div class="order-graph-bottom">
                                            <div class="media" *ngFor="let item of doughnutChartData">
                                                <div class="p-1" [style.background-color]="item.color"></div>
                                                <div class="media-body">
                                                    <h6 class="mb-0">{{ item.name }} <span
                                                            class="pull-right">{{item.value}}</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isZerosList(doughnutData)">
                                        <div class="d-flex flex-column gap-2 align-items-center justify-content-center">
                                            <img src="assets/images/empty.png" width="50px" alt="">
                                            <span class="text-muted">Empty data</span>
                                            <p class="text-muted text-center">No data available for plotting on current
                                                orders</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 xl-50">
                            <div class="order-graph sm-order-space overflow-hidden" style="height: 100%;">
                                <h6>Best selling products</h6>
                                <div class="d-flex flex-column" [ngClass]="{'justify-content-center': isZerosList(pieData), 'justify-content-start': !isZerosList(pieData)}" style="height: 100%;">
                                    <div *ngIf="!isZerosList(pieData)">
                                        <div class="peity-chart-dashboard text-center chart-vertical-center">
                                            <ngx-charts-pie-chart class="pie-colours-1" [view]="view"
                                                [scheme]="pieChartColorScheme" [results]="pieData"
                                                [explodeSlices]="false" [labels]="doughnutChartShowLabels"
                                                [arcWidth]=0.99 [doughnut]="true" [animations]="true"
                                                [tooltipDisabled]="doughnutChartTooltip"
                                                [gradient]="doughnutChartGradient">
                                            </ngx-charts-pie-chart>
                                        </div>
                                        <div class="order-graph-bottom sales-location">
                                            <div class="media" *ngFor="let item of pieChartData">
                                                <div class="p-1" [style.background-color]="item.color"></div>
                                                <div class="media-body">
                                                    <h6 class="mb-0">{{ item.name }} <span
                                                            class="pull-right">{{item.value}}</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isZerosList(pieData)">
                                        <div class="d-flex flex-column gap-2 align-items-center justify-content-center">
                                            <img src="assets/images/empty.png" width="50px" alt="">
                                            <span class="text-muted">Empty data</span>
                                            <p class="text-muted text-center">No data available for plotting on current
                                                orders</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 xl-100">
                            <div class="order-graph xl-space">
                                <h6>Annual Order Quantity</h6>
                                <div class="ct-4 flot-chart-container">
                                    <x-chartist class="board-chart ct-golden-section" [configuration]="chart3">
                                    </x-chartist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------  End Location Section  ----------------------------------------------- -->
    </div>
</div>
<!-- Container-fluid Ends-->