<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Import listings</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div *ngIf="productsListing.length == 0">
                            <p-messages [(value)]="messagesInfo" [showTransitionOptions]="'500ms'" [enableService]="false" [closable]="false"></p-messages>
                        </div>
                        <div *ngIf="errorTypeAmount !== 0 || errorCategoryAmount !== 0 || errorStockAmount !== 0 || errorPriceAmount !== 0">
                            <p-messages [(value)]="messagesErrors" [showTransitionOptions]="'500ms'" [enableService]="false" [closable]="false"></p-messages>
                        </div>
                        <div *ngIf="productsListing.length !== 0 && (errorTypeAmount == 0 && errorCategoryAmount == 0 && errorStockAmount == 0 && errorPriceAmount == 0)">
                            <p-messages [(value)]="messagesSuccess" [showTransitionOptions]="'500ms'" [closable]="false" [enableService]="false"></p-messages>
                        </div>
                        <p-table #dt [value]="productsListing" dataKey="num" [paginator]="true" [rows]="20"
                            [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollHeight="700px"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            (onPage)="pageChange($event)" [rowsPerPageOptions]="[25, 50, 100]">
                            <ng-template pTemplate="caption">
                                <div class="table-header d-flex justify-content-between">
                                    <div class="d-flex align-items-center gap-2">
                                        <p-fileUpload #uploader mode="basic" chooseLabel="Import"
                                            class="mr-2 inline-block" (onSelect)="onFileSelected($event)" accept=".csv"
                                            maxFileSize="1000000"></p-fileUpload>
                                        <i class="pi pi-times" style="color: #3B82F6; font-size: 1.5rem"
                                            *ngIf="selectedFile" (click)="cleanUploader()"></i>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="btnAdd btn-primary d-flex gap-2" (click)="saveData()">
                                            <i class="pi pi-save"></i>
                                            <span>Save</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>No.</th>
                                    <th style="min-width:150px">Title</th>
                                    <th style="min-width:200px">Description</th>
                                    <th style="min-width:150px">Type</th>
                                    <th>Category</th>
                                    <th>Images</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td>
                                        {{ product.no }}
                                    </td>
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.description }}</td>
                                    <td><ng-container *ngIf="validarTypes(product.type); else errorSymbolTyp">
                                        {{ product.type }}
                                      </ng-container>
                                      <ng-template #errorSymbolTyp>
                                        <span style="color: red;">❌ {{ product.type }}</span>
                                      </ng-template></td>
                                      <td><ng-container *ngIf="validarCategories(product.category); else errorSymbolCat">
                                        {{ product.category }}
                                      </ng-container>
                                      <ng-template #errorSymbolCat>
                                        <span style="color: red;">❌ {{ product.category }}</span>
                                      </ng-template></td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <div class="frame" *ngFor="let image of product.images, let i = index">
                                                <img [src]="image" class="imgTable" style="width: 100%"
                                                    onerror="this.onerror=null; this.src='../assets/images/dashboard/product/1.jpg';">
                                            </div>
                                        </div>
                                    </td>
                                    <td><ng-container *ngIf="validarNumber(product.stock); else errorSymbolStock">
                                        {{ product.stock }}
                                      </ng-container>
                                      <ng-template #errorSymbolStock>
                                        <span style="color: red;">❌ {{ product.stock }}</span>
                                      </ng-template></td>
                                      <td><ng-container *ngIf="validarNumber(product.price); else errorSymbolPrice">
                                        {{ product.price }}
                                      </ng-container>
                                      <ng-template #errorSymbolPrice>
                                        <span style="color: red;">❌ {{ product.price }}</span>
                                      </ng-template></td>
                                    <td>{{ product.status === "1" ? 'On Sale' : 'Disabled' }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" styleClass="p-button-secondary rounded"
                                    [disabled]="selectedProducts.length == 0"
                                    (click)="showConfirmAllDelete(selectedProducts)">Delete all selected</p-button> -->
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toast position="bottom-right"></p-toast>
    <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="headless">
            <section class="d-flex p-3 gap-2 w-100 bg-black" style="border-radius: 10px">
                <i class="pi pi-cloud-upload text-primary-500 text-2xl"></i>
                <div class="d-flex flex-column gap-2 w-100">
                    <p class="m-0 lh-base text-white">{{ message.summary }}</p>
                    <p class="m-0">{{ message.detail }}</p>
                    <div class="d-flex flex-column gap-1">
                        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                        <label class="text-end text-right text-white">Processing products...</label>
                    </div>
                </div>
            </section>
        </ng-template>
    </p-toast>
</div>