@import '../../../../../assets/scss/theme/variables';

.onsaleProd {
    background-color: green;
    color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
  }
  
  .disabledProd {
    background-color: #C61504;
    color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
  }

  .imagesProducts{
    border: 1px solid $border-light;
    border-radius: 5px;
  }

  .thumblainImage{
    width: 150px;
  }

  .thumblainImage2{
    width: 60px;
  }

  .instock{
    background-color: rgb(187, 240, 187);
    color: green;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
  }

  .lowstock{
    background-color: rgb(254, 221, 199);
    color: #ae510f;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
  }

  .outstock{
    background-color: rgb(245, 192, 192);
    color: red;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
  }

  .circle{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid rgb(230, 228, 228);
  }

