<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product Lists</h5>
                </div>
                <div class="card-body">
                    <div id="batchDelete" class="product-table ">
                        <div class="table-responsive">
                            <p-table #dt [value]="products" [(selection)]="selectedProducts" dataKey="sku"
                                [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}" [scrollable]="true"
                                scrollHeight="700px" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                (onPage)="pageChange($event)" [rowsPerPageOptions]="[15, 25, 50]"
                                [globalFilterFields]="['title', 'sku', 'category', 'type']">
                                <ng-template pTemplate="caption">
                                    <div class="table-header d-flex justify-content-between">
                                        <div class="d-flex align-items-center gap-2">
                                            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="showConfirmAllDelete(selectedProducts)" pTooltip="Delete selection" tooltipPosition="top" [disabled]="selectedProducts.length == 0"></button>
                                            <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success mr-2" (click)="exportExcel()" pTooltip="Export XLS" tooltipPosition="top"></button>
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </span>
                                        </div>
                                        <!-- <div class="d-flex align-items-center gap-3">
                                            <i class="pi pi-list" style="font-size: 1.5rem"></i>
                                            <i class="pi pi-th-large" style="font-size: 1.5rem"></i>
                                        </div> -->
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 4rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th>Image</th>
                                        <th pSortableColumn="sku">SKU<p-sortIcon field="sku"></p-sortIcon></th>
                                        <th pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
                                        <th pSortableColumn="description" style="min-width:200px">Description<p-sortIcon
                                                field="description"></p-sortIcon></th>
                                        <th pSortableColumn="type">Collection<p-sortIcon field="type"></p-sortIcon></th>
                                        <th pSortableColumn="stock">Stock<p-sortIcon field="stock"></p-sortIcon></th>
                                        <th pSortableColumn="sale">Status<p-sortIcon field="sku"></p-sortIcon></th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                        </td>
                                        <td>
                                            <div class="d-flex gap-1">
                                                <div class="frame" *ngFor="let image of product.images">
                                                    <img [src]="image.img_url" class="imgTable" style="width: 100%"
                                                        onerror="this.onerror=null; this.src='../assets/images/dashboard/product/1.jpg';">
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{product.sku}}</td>
                                        <td>{{product.title}}</td>
                                        <td>{{product.description}}</td>
                                        <td>{{product.collection}}</td>
                                        <td>
                                            <div
                                                [ngClass]="{'instock': product.stock >= 70 , 'lowstock': product.stock > 0 && product.stock < 70, 'outstock': product.stock == 0}">
                                                {{ product.stock }}
                                            </div>
                                        </td>
                                        <td>
                                            <div
                                                [ngClass]="{'onsaleProd': product.sale === true, 'disabledProd': product.sale === false}">
                                                {{ product.sale ? 'On Sale' : 'Disabled' }}
                                            </div>
                                        </td>
                                        <td>$ {{product.price}}</td>
                                        <td><a href="javascript:void(0)" class="action-button"><i
                                                    class='fa fa-edit f-12'
                                                    (click)="open(content, product.id)"></i></a>&nbsp;
                                            <a href="javascript:void(0)" class="action-button"><i class="fa fa-trash-o"
                                                    (click)="showConfirm(product.id)"></i></a>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorright"> </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit product</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation">
                <div class="form">
                    <div class="d-flex flex-column gap-2 px-4">
                        <div class="row">
                            <div class="col-6 form-group mb-3">
                                <label class="" for="title">Title:</label>
                                <input class="form-control" id="title" type="text" [(ngModel)]="productData.title"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-5 form-group mb-2">
                                <label for="price" class="">SKU:</label>
                                <input class="form-control" id="price" type="text" disabled="true" readonly
                                    [(ngModel)]="productData.sku" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-1 form-group mb-2">
                                <label class="mb-2">On Sale:</label>
                                <p-inputSwitch [(ngModel)]="checked"
                                    [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1" for="description">Description:</label>
                                <textarea rows="3" class="form-control" id="description" type="text"
                                    [(ngModel)]="productData.description"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pt-0 form-group mb-2">
                                <label class="" for="collection"> Collection:</label>
                                <select class="custom-select form-select" id="collection" (change)="updateSKU('collection')"
                                    required="" [(ngModel)]="productData.collection" [ngModelOptions]="{standalone: true}">
                                    <option value="" disabled>--Select--</option>
                                    <ng-container *ngFor="let collection of collections">
                                        <option [value]="collection.name" [disabled]="!collection.active" *ngIf="collection.active && collection.code !== 'GG'">{{ collection.name }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-6 pt-0 form-group mb-2">
                                <label class="" for="category"> Category:</label>
                                <select class="custom-select form-select" id="category" (change)="updateSKU('category')"
                                    required="" [(ngModel)]="productData.category"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="" disabled>--Select--</option>
                                    <ng-container *ngFor="let category of categories">
                                        <option [value]="category.name" [disabled]="!category.active">{{ category.name
                                            }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-4  mb-2">
                                    <label for="price" class="">Price:</label>
                                    <div class="d-flex align-items-center gap-2">
                                        <span>$</span>
                                        <input class="form-control" style="width: 100%;" id="price" step="0.05" type="number" [(ngModel)]="productData.price"
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <label for="stock" class="">Stock:</label>
                                    <input class="form-control" id="stock" type="number" [(ngModel)]="productData.stock"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-4 mb-2">
                                    <label for="weight" class="">Weight:</label>
                                    <div class="d-flex align-items-center gap-2">
                                        <input class="form-control" id="weight" type="number" step="0.5" [(ngModel)]="productData.weight"
                                            [ngModelOptions]="{standalone: true}">
                                        <span>Kg</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-2">Colors:</label>
                                <p-multiSelect [options]="colors" [(ngModel)]="selectedColors" [ngModelOptions]="{standalone: true}" placeholder="Select the colors" optionLabel="name">
                                    <ng-template let-value pTemplate="selectedItems">
                                        <div class="inline-flex align-items-center gap-2 px-1" *ngFor="let option of value">
                                            <div class="circle" [style.background-color]="option.hexCode"></div>
                                        </div>
                                        <div *ngIf="!value || value.length === 0">Select color</div>
                                    </ng-template>
                                    <ng-template let-color pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div class="circle" [style.background-color]="color.hexCode"></div>
                                            <div>{{ color.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 pt-0 form-group p-fluid mb-2">
                        <label class="mb-2">Tags:</label>
                        <p-chips [(ngModel)]="tags" [ngModelOptions]="{standalone: true}"
                            placeholder="Add tags..."></p-chips>
                    </div>
                </div>
            </form>
            <p-divider align="left" type="solid">
                <b>Images</b>
            </p-divider>
            <div class="px-4 mb-3 d-flex gap-2 align-items-center">
                <div class="d-flex gap-2 align-items-center">
                    <div class="custom-file-upload">
                        <label for="inputAddImage" class="btn btn-primary mr-2">
                             Select File
                        </label>
                        <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
                        <input type="file" accept="image/*" class="form-control visually-hidden"
                            id="inputAddImage" #fileInput (change)="showFileName(fileInput)" />
                    </div>
                </div>
            </div>
            <div class="px-4">
                <div class="px-4 imagesProducts p-3 d-flex flex-column gap-3">
                    <div class="d-flex gap-3 justify-content-start"
                        *ngFor="let img of imagesProductSelected; let i = index">
                        <img class="thumblainImage2" [src]="img.img_url || 'assets/images/12.jpg'" alt="">
                        <div class="form-group flex-grow-1">
                            <label class="" for="title">Image {{i+1}}: </label>
                            <input class="form-control" id="title" type="text"
                                [(ngModel)]="imagesProductSelected[i].img_url" (blur)="updateImageText($event, i)">
                            <div class="py-1 d-flex gap-2 justify-content-end">
                                <span *ngIf="imagesProductSelected.length > 1"
                                    class="ps-2 cursor-pointer border-start text-muted"
                                    (click)="deleteImage(imagesProductSelected[i].id)">Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 justify-content-start"
                        *ngFor="let img of previewImages; let i = index">
                        <img class="thumblainImage2" [src]="img.img_url || 'assets/images/12.jpg'" alt="">
                        <div class="form-group flex-grow-1">
                            <label class="" for="title">New image {{i+1}}: </label>
                            <input class="form-control" id="title" type="text">
                            <div class="py-1 d-flex gap-2 justify-content-end">
                                <span
                                    class="ps-2 cursor-pointer border-start text-muted"
                                    (click)="deletePreviewImage(i)">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!loading" type="button" class="btn btn-primary" (click)="saveData()">Save</button>
            <span *ngIf="loading" class="svg-spinners pr-6"></span>
            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </ng-template>
    <ng-template #changeImage let-modal>
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit image</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="imagesProducts p-3 d-flex flex-column gap-3">
                <div class="d-flex gap-3 justify-content-start" *ngFor="let img of imagesProductUrl; let i = index">
                    <img class="thumblainImage2" [src]="img || 'assets/images/12.jpg'" alt="">
                    <div class="form-group flex-grow-1">
                        <label class="" for="title">Image {{i+1}}: </label>
                        <input class="form-control" id="title" type="text" [(ngModel)]="imagesProductUrl[i]"
                            (blur)="updateImageText($event, i)">
                        <div class="py-1 d-flex gap-2 justify-content-end">
                            <span class="text-muted">Change URL</span>
                            <span class="ps-2 border-start text-muted">Upload file</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </ng-template>
    <p-toast position="bottom-right"></p-toast>
    <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4 class="text-dark-emphasis">{{message.summary}}</h4>
                    <p class="text-light-emphasis">{{message.detail}}</p>
                </div>
                <div class="p-fluid d-flex gap-3">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirm()" label="Yes"
                            class="p-button-success rounded"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="No"
                            class="p-button-secondary rounded"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
    <p-toast position="bottom-center" key="confirmAllDelete" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4 class="text-dark-emphasis">{{message.summary}}</h4>
                    <p class="text-light-emphasis">{{message.detail}}</p>
                </div>
                <div class="p-fluid d-flex gap-3">
                    <div class="col-6">
                        <button *ngIf="!loading" type="button" pButton (click)="onConfirmAll()" label="Yes"
                            class="p-button-success rounded"></button>
                            <div class="d-flex justify-content-center pt-2">
                                <span *ngIf="loading" class="svg-spinners pr-6"></span>
                            </div>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="No"
                            class="p-button-secondary rounded"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
</div>